@import url(https://fonts.googleapis.com/icon?family=Material+Icons);



.container {
    display: block;
    margin-top: 1rem;
    margin-left: 20rem;
    margin: auto;
    padding: 10px;
}

.tag-container {
    border: 2px solid rgb(13, 60, 87);
    padding: 10px;
    border-radius:45px;
    display: flex;
    flex-direction:unset;
    text-align: center;
    margin: 0 auto;
    max-width: fit-content;
}

.tag-container .tag {
    padding: .5rem 1rem;
    border: 1px solid rgb(13, 60, 87);
    margin: 5px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    background: white;
    cursor: default;
    word-wrap: normal;
}

.tag-container .tag:hover {
    background: rgb(151, 217, 255);
}

.tag i {
    font-size: 16px;
    margin-left: 5px;
    color: #666;
    display: flex;
    align-items: center;
}

.tag-container input {
    flex: 1;
    font-size: 16px;
    padding: 5px;
    outline: none;
    border: 0;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.material-icons {
    padding-bottom: .1rem;
    padding-left: .5rem;
}

.material-icons:hover {
    color:rgb(255, 0, 0);
    cursor: pointer;
}

.searchBtn {
    color: rgb(13, 60, 87);
    border: 2px solid rgb(13, 60, 87);
    border-radius: 15px;
    padding: .5rem 1rem;
    text-align: center;
    display: inline-block;
    background: white;
    font-size: 16px;
    width: 250px;
    font-family: monospace;
}

.searchBtn:hover {
    color: white;
    background: rgb(13, 60, 87);
    cursor: pointer;
}

.error {
    border: 1px rgb(red);
    color: red;
    border-radius: 15px;
    padding: .5rem 1rem;
    background: rgb(229, 137, 137);
    display: none;
}

.list {
    display: none;
}

.userInput {
    width: 500px;
    align-items: center;
    justify-content: center;
    background: transparent;
    font-family: monospace;
}

.userInput::placeholder {
    color: rgb(84, 85, 85);
}

.title p {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.form-group {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.form-group input {
    padding: 1rem;
}

.checkbox {
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}

.checkbox label {
    font-size: 18px;
}

.checkbox-help {
    color: rgb(13, 60, 87);
    font-weight: bold;
}

.header {
    text-align: center;
    margin: 0 auto;
}

.header h1 {
    font-size: 60px;
}

.logo {
    display: flex;
    flex-direction: row;
}

.logo img {
    width: 10%;
    height: auto;
    /* margin-right: 700px; */
}

.nav-btn {
    text-align: right;
}

.nav-btn button {
    border-radius: 15px;
    padding: .5rem 1rem;
    text-align: center;
    padding: 1rem;
    font-size: 16px;
    font-family: monospace;
}

.timetable-btn {
    background: white;
    color: rgb(13, 60, 87);
    /* margin-left: 120px;
    margin-right: 50px; */
    width: 250px;
}

.elective-btn {
    background: white ;
    color: rgb(13, 60, 87);
    /* margin-left: 120px;
    margin-right: 50px; */
    width: 250px;
}

.not-found {
    border: 1px rgb(red);
    color: red;
    border-radius: 15px;
    padding: .5rem 1rem;
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-size: 4.2em;
    margin: 0 0 .5em 0;
  }
  h2 {
    font-size: 1.1em;
    margin: 0 0 .5em 0;
  }
  body {
    /* overflow: hidden; */
    background-color: whitesmoke;
    background-image: url('https://th.bing.com/th/id/R.35acacf151f51ed35a983308d82df56f?rik=j5k0YDqCCYEjuA&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fZRDh9ye.jpg&ehk=c8yUDdxnvteOCSI53QiHnmfzo1JDH2NHKZk2S92XUA4%3d&risl=&pid=ImgRaw&r=0');
    font-family: monospace;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.fullclick {
    margin: 1em 0;
    padding: 0;
    color: white;
    /* max-width: 30em; */
    /* display:inline; */
    /* width: 100vw; */
}

.fullclick li {
    list-style: none;
    margin: 1em 0;
    padding: 20px 10px;
    background: rgb(4, 44, 90);
    position: relative;
    transition: 400ms;
    border-radius: 16px;
}
                
.fullclick a.main {
    color: rgb(102, 199, 255);
    text-align: right;
    /* display: block; */
    z-index: 1;
}

.fullclick li a.main::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ' ';
}
                
.fullclick:hover a.main, .fullclick:focus-within a.main {
    color: #000000;
}

.fullclick li button {
    z-index: 2;
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0;
    transition: 1000ms;
    border: none;
    color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
}
                
.fullclick li:hover button, .fullclick li:focus-within button {
    opacity: 1;
}
                
.fullclick li:hover, .fullclick li:focus-within {
    background:#57287e;
    box-shadow: 0px 3px 6px #000;
}
@media (orientation: landscape) {
  .output {
    display: flex;
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  .output {
    display: flex;
    flex-direction: column;
  }
}


