<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/course_preference.css">
    </head>
    <body>
        <div class="error" id="error">Subjects can only contain letters!</div>
        <div class="container">
            <div id="tag-container" class="tag-container">
                <input id="userInput">
            </div>
        </div>

        <div class="btn" type="submit" onclick="addSubject()">Add subject</div>

        <script src="course_preference.js"></script>
    </body>
</html>
